
body, html {
    min-height: 100%;
}


.col {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}


#header {
  position: absolute;
  z-index: 99999;
  top: 50px;
  left: 100px;
  img, svg {
    width: 116px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    left: 20px;
  }
  @media screen and (max-width: 720px) {
    left: 20px;
    top: 20px;
    img, svg {
      width: 100px;
    }
  }
}

#footer {
  position: absolute;
  z-index: 99999;
  bottom: 50px;
  left: 100px;
  img, svg {
    width: 111px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    left: 20px;
  }

  @media screen and (max-width: 720px) {
    left: 20px;
    bottom: 20px;
  }

  .copy {
    font-size: 12px;
    color: #171717;
    margin-top: 16px;
  }
}

.menu {
  position: absolute;
  top:50%;
  left: 100px;
  z-index: 99999;
  cursor: pointer;
  width: 14px;
  height: 14px;
  transition: all 0.4s ease;

  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    left: 80px;
  }
  &__inside {
    width: 14px;
    height: 2px;
    background-color: #4c4c4c;
    top: 6px;
    position: absolute;
    &:after {
      position: absolute;
      top: -5px;
      width: 14px;
      height: 2px;
      background-color: #4c4c4c;
      content: '';
      transition: all 0.4s ease;
    }

    &:before {
      position: absolute;
      bottom: -5px;
      width: 14px;
      height: 2px;
      background-color: #4c4c4c;
      content: '';
      transition: all 0.4s ease;
    }
  }

  &.opened {
    .menu__inside {
      background-color: transparent;

      &:after {
        transform: rotate(45deg);
        top:0px;
        transition: all 0.4s ease;
      }
      &:before {
        transform: rotate(-45deg);
        bottom: 0px;
        transition: all 0.4s ease;
      }
    }
  }

  @media screen and (max-width: 720px) {
    right: 20px;
    top: 30px;
    left: auto;
    width: 24px;
    height: 24px;
    &__inside {
      width: 24px;
      top: 8px;
       &:after {
        width: 24px;
        top: -8px;
      }

      &:before {
        width: 24px;
        bottom: -8px;
      }
    }

    img, svg {
      width: 42px;
    }
  }
}

.mail {
  position: absolute;
  z-index: 999;
  top: 50px;
  right: 100px;
  cursor: pointer;
  img, svg {
    width: 27px;
  }
  @media screen and (max-width: 720px) {
    right: 60px;
    top: 30px;
    img, svg {
      width: 24px;
    }
  }
}

.share {
  position: absolute;
  z-index: 999;
  bottom: 50px;
  right: 100px;
  cursor: pointer;
  img, svg {
    width: 24px;
  }
  @media screen and (max-width: 720px) {
    right: 100px;
    bottom:auto;
    top: 30px;
    img, svg {
      width: 18px;
    }
  }
}




.section {
  padding-left: 280px;
  padding-right: 200px;
  width: 100%;

  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    padding-left: 200px;
    padding-right: 100px;
  }
  @media screen and (max-width: 720px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &-news {

  }

  &-menu {
    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      padding-left: 100px;
    }
  }

  &-details {

  }

  &-product {
    &__slider {
    }
  }
}

.product-slide {
  width: 100%;
  height: 400px;

  &__title {
    font-size: 21px;
    font-family: 'LatoBold';
    margin-bottom: 24px;

    /* @media screen and (min-width: 1200px) {
      font-size: 2.2vh;
    } */

    @media screen and (max-width: 720px) {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }

  &__text {
    font-size: 17px;
    font-family: 'LatoRegular';
    text-align: justify;
    color: #3e3e3e;

    /* @media screen and (min-width: 1200px) and (min-height: 640px) {
      font-size: 1.9vh;
    } */
    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      font-size: 14px;
    }
    @media screen and (max-width: 720px) {
      font-size: 14px;
    }
  }

  &__image {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 96px;

    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      margin-bottom: 46px;
    }

    @media screen and (max-width: 720px) {
      margin-bottom: 12px;
      margin-top: 4px;
    }


    img, svg {
      height: 104px;
    }
  }
}

.direction-slide {
  width: 100%;

  &__title {
    font-size: 52px;
    font-family: 'LatoBold';
    margin-bottom: 24px;
    max-width: 1350px;

    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      font-size: 42px;
    }
    @media screen and (max-width: 720px) {
      font-size: 22px;
    }
    /* @media screen and (min-width: 1200px) {
      font-size: 6.75vh;
    } */
  }

  &__text {
    font-size: 21px;
    font-family: 'LatoRegular';
    text-align: justify;
    max-width: 1152px;
    color: #3e3e3e;

    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      font-size: 17px;
    }
    @media screen and (max-width: 720px) {
      font-size: 14px;
    }
    /* @media screen and (min-width: 1200px) {
      font-size: 2.2vh;
    } */
  }
}

#section-direction__slider {
  .swiper-wrapper {
    padding-bottom: 48px;
  }
  .swiper-slide {
    height: 480px;
    display: flex;
    align-items: center;
    &__container {
      display: flex;
      flex-direction: column;
    }

    @media screen and (max-width: 720px) {
      height: 450px;
    }
  }
  .swiper-pagination {
    bottom: 0px;
    top: auto;
    width: 740px;
    height: 10px;

    @media screen and (max-width: 720px) {
      width: 98%;
    }
  }
  .swiper-pagination-line {
    position: absolute;
    bottom: 4px;
    height: 2px;
    width: 0%;
    z-index: 999;
    background-color: #a01d21;
    left: 4px;
  }
  .swiper-pagination-underline {
    position: absolute;
    bottom: 4px;
    height: 2px;
    width: 100%;
    background-color: #ebebeb;
  }
  .pagination-point {
    width: 2px;
    height: 2px;
    border-radius: 10px;
    border:4px solid #d60524;
    position: absolute;
    right: 10px;
    top:0px;
    z-index: 9999;
    cursor: pointer;
  }
}

.section-title {
  
  margin-bottom: 64px;
  position: relative;

  @media screen and (max-width: 720px) {
    margin-bottom: 24px;
  }
  
  &__text {
    font-size: 64px;
    font-family: 'LatoBold';
    /* @media screen and (min-width: 1200px) {
      font-size: 6.75vh;
    } */
    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      font-size: 48px;
    }
    @media screen and (max-width: 720px) {
      font-size: 24px;
    }
  }
  &__image {
    margin-bottom: 58px;

    &--small-pad {
      margin-bottom: 12px;
    }
    @media screen and (max-width: 720px) {
      margin-bottom: 12px;
    }
  }
  &--no-pad {
    margin-bottom: 0;
  }
}

.section-text {
  font-size: 21px;
  font-family: 'LatoRegular';
  line-height: 1.8;
  max-width: 1164px;
  text-align: justify;
  color: #3e3e3e;
  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    font-size: 17px;
  }
  @media screen and (max-width: 720px) {
    font-size: 14px;
  }
  /* @media screen and (min-width: 1200px) {
    font-size: 2.2vh;
  } */
}

.section-team {

  p {
    margin: 0px;
    padding: 0px;
  }

  @media screen and (max-width: 720px) {
    padding:0px;
    height: 100%;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &-red {
    background-color: #a01d21;
    padding: 64px 90px 64px 64px;
    color: #ffffff;
    max-width: 530px;

    opacity: 0;

    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      padding: 48px 64px 48px 48px;
      max-width: 700px;
    }
    @media screen and (min-width: 1400px) and (max-width: 1600px) {
      max-width: 530px;
    }
    @media screen and (max-width: 720px) {
      padding: 10px 10px 20px 10px;
      margin-top: 80px; 
      img, svg {
        display: none;
      }
    }

    &__title {
      font-size: 34px;
      font-family: 'LatoBold';
      margin-bottom: 50px;

      @media screen and (min-width: 1024px) and (max-width: 1600px) {
        font-size: 26px;
        margin-bottom: 36px;
      }

      @media screen and (max-width: 720px) {
        font-size: 16px;
        margin-bottom: 0px;
        padding: 18px;
      }


      /* @media screen and (min-width: 1200px) {
        font-size: 3.5vh;
      } */
    }

    &__text {
      font-size: 25px;
      font-family: 'LatoRegular';
      line-height: 1.8;

      @media screen and (min-width: 1024px) and (max-width: 1600px) {
        font-size: 18px;
      }
      /* @media screen and (min-width: 1200px) {
        font-size: 2.65vh;
      } */
      @media screen and (max-width: 720px) {
        font-size: 12px;
        padding: 0px 18px 18px 18px;
        ul {
          margin-block-start: 0px;
          margin-block-end: 0px;
        }
      }

      ul {
        list-style: none;
        margin-left: 0px;
        padding-left: 0px;
        
        li {
          margin-left: 0px;
          padding-left: 0px;
        }
      }
    }

    &__image {
      margin-bottom: 50px;
      @media screen and (min-width: 1024px) and (max-width: 1600px) {
        margin-bottom: 36px;
      }
      @media screen and (max-width: 720px) {
        margin:0px;
      }
    }
  }

  &-black {
    padding: 100px 90px;
    background-color: #a4aeb5;
    margin-left: -20px;
    z-index: 99;
    max-width: 490px;
    color: #ffffff;

    opacity: 0;

    @media screen and (min-width: 1024px) and (max-width: 1600px) {
      padding: 50px 45px;
    }
    @media screen and (max-width: 720px) {
      padding: 10px 10px 10px 10px;
      margin-top: -20px; 
      width: 100%;
      margin-left: 0px;
      img, svg {
        display: none;
      }
    }

    &__image {
      margin-bottom: 60px;

      @media screen and (min-width: 1024px) and (max-width: 1600px) {
        margin-bottom: 48px;
      }
      @media screen and (max-width: 720px) {
        margin: 0;
      }
    }

    &__text {
      font-size: 21px;
      font-family: 'LatoRegular';
      line-height: 1.8;

      @media screen and (min-width: 1024px) and (max-width: 1400px) {
        font-size: 14px;
      }
      @media screen and (min-width: 1400px) and (max-width: 1600px) {
        font-size: 16px;
      }
      @media screen and (max-width: 720px) {
        padding: 18px;
        font-size: 14px;
      }
    }
  }
}

.section-contact {
  p {
    margin: 0px;
    padding: 0px;
  }

  a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: all 0.4s ease;
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: 3px solid #000;
      transition: all 0.4s ease;
    }
  }
}

.mail-hidden, .menu-hidden {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,1);
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 9999;

  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  &__close {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #d8d8d8;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: -70px;
    top: 0px;
    padding: 25px;
    transition: all .5s ease;

    @media screen and (max-width: 720px) {
      right: -10px;
      padding: 10px;
    }

    &:hover {
      background: #bbbbbb;
      transition: all .5s ease;
    }
  }
}

.menu-hidden {
  &__close {
    right: 70px;
    top: 70px;
    @media screen and (max-width: 720px) {
      right: 40px;
      top: 30px;
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__menu {
    position: relative;
    @media screen and (min-width: 1024px) and (max-width: 1366px) {
      img {
        height: 280px;
      }
    }
    @media screen and (max-width: 720px) {
      img {
        display: none;
      }
    }
  }

  &__items {
    position: absolute;
    top: 0px;
    left: 0px;

    @media screen and (max-width: 720px) {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
    }
  }
}
.span-underline {
  position: relative;
  &:after {
    content: '';
    width: 102%;
    position: absolute;
    height: 24px;
    background-color: rgba(0,0,0,.05);
    bottom: 6px;
    left: -1%;
  }
  @media screen and (max-width: 720px) {
    &:after {
      height: 12px;
      bottom: 2px;
    }
  }
}
.go-to-main {
  touch-action: none;
  display: inline-block;
}
.menu-link {
  position: absolute;
  text-decoration: none;
  font-family: 'LatoBold';
  font-size: 30px;
  color: #3e3e3e;
  touch-action: none;

  @media screen and (min-width: 1024px) and (max-width: 1366px) {
    font-size: 24px;
  }
  &__main {
    top: -27px;
    left: -70px;
  }
  &__about {
    top: -27px;
    left: 512px;
    width: 125px;

    @media screen and (min-width: 1024px) and (max-width: 1366px) {
      top: -29px;
      left: 314px;
    }
  }
  &__news {
    top: 62px;
    left: 456px;

    @media screen and (min-width: 1024px) and (max-width: 1366px) {
      top: 39px;
      left: 284px;
    }
  }
  &__directions {
    top: 293px;
    left: -145px;

    @media screen and (min-width: 1024px) and (max-width: 1366px) {
      top: 203px;
      left: -115px;
    }
  }
  &__product {
    top: 330px;
    left: 500px;

    @media screen and (min-width: 1024px) and (max-width: 1366px) {
      top: 203px;
      left: 314px;
    }
  }
  &__contacts {
    top: 409px;
    left: 232px;

    @media screen and (min-width: 1024px) and (max-width: 1366px) {
      top: 283px;
      left: 125px;
    }
  }

  @media screen and (max-width: 720px) {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    display: block;
    margin-bottom: 20px;
  }
}

.inputs-wrapper {
  display: flex;
  input {
    border: 0px;
    font-family: "LatoRegular";
    font-size: 21px;
    color: #363636;
    padding-bottom: 8px;
    outline: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    @media screen and (max-width: 720px) {
        font-size: 14px;
    }
  }

  margin-bottom: 80px;
  margin-top:60px;

  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    margin-bottom: 48px;
    margin-top:36px;
    input {
      font-size: 17px;
    }
  }
  @media screen and (max-width: 720px) {
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
  }
}

.input-holder {
  flex: 1;
  margin-left: 70px;
  overflow: hidden;
  position: relative;
  height: 40px;
  &:first-child {
    margin-left: 0px;
  }

  &-line {
    width: 100%;
    height: 1px;
    background-color: #979797;
    position: absolute;
    bottom: 0px;
  }
  @media screen and (max-width: 720px) {
    height: 40px;
    margin-bottom: 6px;
    margin-left: 0px;
  }
}

.textarea-wrapper {
  display: flex;
  textarea {
    resize: none;
    height: 250px;
    flex: 1;
    outline: none;
    padding: 26px;
    font-family: "LatoRegular";
    font-size: 21px;
    color: #3e3e3e;
    transition: transform 1s ease;
    transform: translate(0, 0);

    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      height: 180px;
      font-size: 17px;
    }
    @media screen and (max-width: 720px) { 
      height: 80px;
      font-size: 14px;
      padding: 8px;
      border: 1px solid #979797;
    }

    &.animated-top {
      transform: translate(0, 50px);
      transition: transform 1s ease;
    }
  }


  margin-bottom: 32px;
  @media screen and (max-width: 720px) { 
    margin-bottom: 12px;
  }
}

.submit-wrapper {
  input {
    color: #a01d21;
    border: none;
    background-color: transparent;
    font-size: 44px;
    font-family: 'LatoBold';
    outline: none;
    transition: transform 1s ease;
    transform: translate(0, 0);

    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      font-size: 36px;
    }
    @media screen and (max-width: 720px) {
      font-size: 24px;
      text-align: right;
    }

    &.animated-top {
      transform: translate(0, 50px);
      transition: transform 1s ease;
    }
  }
  @media screen and (max-width: 720px) {
    text-align: right;
  }
}

.stage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-hidden {
  @media screen and (max-width: 720px) {
      display: none!important;
  }
}
.mobile-visible {
  display: none;
  @media screen and (max-width: 720px) {
      display: block!important;
  }
}